@model Staff

@using NDS.Utility


@{
    Layout = null;
}


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Staff Details For "@Model.FirstName @Model.LastName"</h4>
</div>


<div class="modal-body form-horizontal" style="padding:24px;">

    <div class="form-group">

        <label asp-for="Mobile" class="control-label"></label>

        <p>
            @Model.Mobile
        </p>

    </div>

    <hr />


    <div class="form-group">

        <label asp-for="NationalCode" class="control-label"></label>

        <p>
            @Model.NationalCode
        </p>

    </div>

    <hr />



    <div class="form-group">

        <label asp-for="Address" class="control-label"></label>

        <p>
            @Model.Address
        </p>

    </div>

    <hr />




    <div class="form-group">

        <label asp-for="CreateDate" class="control-label"></label>

        <p>
            @Model.CreateDate
        </p>

    </div>

    <hr />




</div>


<div class="modal-footer" style="text-align:left;">

    <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>


</div>





