@model IEnumerable<City>

@using NDS.Utility


@if (TempData["message"] != null)
{
    <div class="alert alert-@TempData["type"]">
        <span class="close" data-dismiss="alert">&times;</span>

        @TempData["message"]

    </div>
}



<h3>
    Cities
</h3>

<div class="row center-block box box-success" style="box-shadow:2px 2px 7px 3px gray;">

    <div class="panel panel-primary col-md-10 col-md-offset-2" style="margin-top:25px; margin-bottom:25px;">

        <div class="panel-body">
            <div>
                <a class="btn btn-primary" asp-controller="City" asp-action="Create">
                    <i class="glyphicon glyphicon-plus"></i>
                    New
                </a>
            </div>
        </div>

        <hr style="height:1px; background-color:gray;" />

        @if (Model.Any())
        {
            <table class="table table-responsive text-center">

                <thead>
                    <tr style="font-size:15px; font-weight:600;">
                        <td>@Html.DisplayNameFor(model => model.Title)</td>
                        <td>@Html.DisplayNameFor(model => model.FkProvinceId)</td>
                        <td>Operation</td>
                    </tr>
                </thead>


                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.Title</td>
                            <td>@item.Tbl_Province.Title</td>

                            <td>

                                <a class="btn btn-sm btn-primary" asp-controller="City" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>


                                <a class="btn btn-sm btn-danger" asp-controller="City" asp-action="Delete"
                                   asp-route-id="@item.Id" data-toggle="modal" data-target="#modal">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>

                            </td>
                        </tr>
                    }


                </tbody>


            </table>

        }
        else
        {
            <div class="alert alert-info">
                <p>
                    Empty
                </p>
            </div>
        }
    </div>
</div>



@* Paging *@
@if (ViewBag.PageCount > 1)
{
    <div class="row text-center">

        <nav>

            <ul class="pagination">

                @if ((int)ViewBag.PageID > 1)
                {
                    @* Previous *@
                    <li>
                        <a asp-controller="City" asp-action="Index" asp-route-Page="@((int)ViewBag.PageID - 1)">
                            <span>&laquo;</span>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= (ViewBag.PageCount); i++)
                {
                    <li class="@(((int)ViewBag.PageID==i)?" active":"")">

                        <a asp-controller="City" asp-action="Index" asp-route-page="@i">
                            @i
                            <span class="sr-only"></span>
                        </a>

                    </li>
                }
                @if ((int)ViewBag.PageID <= (int)ViewBag.PageCount - 1)
                {
                    @* Next *@
                    <li>
                        <a asp-controller="City" asp-action="Index" asp-route-Page="@((int)ViewBag.PageID + 1)">
                            <span>&raquo;</span>
                        </a>
                    </li>

                }
            </ul>

        </nav>

    </div>

}



@section PanelScripts{
    <script src="~/js/modal-js/modal.js"></script>
}


@Html.Partial("_Modal", new BootstrapModel { ID = "modal", Size = ModalSize.Medium })
